PokeXGames/mydata/logs
PokeXGames/mydata/*.json
PokeXGames/mydata/*.log
PokeXGames/mydata/*.txt
PokeXGames/mydata/settings.otml
PokeXGames/*.tmp
PokeXGames/*.log
PokeXGames/*.dmp
PokeXGames/*.json
PokeXGames/*.txt
PokeXGames/*.old
PokeXGames/*.bk
PokeXGames/*.bck
PokeXGames/*.bak